body {
    background : #3f454a;
}

.navbar {
   background-color: #343a40 !important;
   opacity: 0.97;
}

h3, label {
  color: white;
}

a {
    color: #ffc107;
}

.accordion .card {
    background: #343a40 !important;
}