<!-- Bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>




<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="/"><span class="text-white">Shoe</span><span class="text-dark bg-warning rounded">Hub</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="/cart">Корзина <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="/login">Авторизация <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="navbar-text text-white">[[${#httpServletRequest.remoteUser}]]</div>
    </div>
</nav>


<div class="site-main container">
    <div class="row">
        <main class="site-content col-xs-12 col-md-12 col-sm-12" itemscope="itemscope" itemprop="mainContentOfPage">
            <div class="page-content entry-content">
                <form class="woocommerce-cart-form" action="" method="post"> //FIXME адрес для оформления заказа
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Продукт</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Просмотр</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Крутые найки</td>
                            <td><input type="number" min="0" value="12"></td>
                            <td>20000</td>
                            <td><input type="submit" class="btn btn-primary" href="" value="Просмотр"></td>
                            <td><input type="submit" class="btn btn-primary" href="" value="Удалить"></td>
                        </tr>


                        </tbody>



                    </table>
                    <div class="row float-right">
                        <span>Тотал: 9999$</span>
                        <button class="btn btn-primary ml-5 " > Оформить заказ</button>
                    </div>



                </form>




            </div>





        </main>



    </div>



</div>